[Unit]
Description=Generate services and software inventory

[Service]
Type=oneshot
User=vazir
ExecStart=/home/vazir/nizam-os/scripts/watch-inventory.sh

[Install]
WantedBy=multi-user.target
