OPENROUTER_API_KEY=
POSTGRES_SVC_LITELLM_PASS=
REDIS_PASSWORD=
REDIS_URL=
LITELLM_MASTER_KEY=
LITELLM_DB_URL=
DATABASE_URL=
DISCORD_WEBHOOK_LOGS=
DISCORD_WEBHOOK_WARNING=
DISCORD_WEBHOOK_CRITICAL=
DISCORD_GUILD_ID=
DISCORD_OWNER_ID=
DISCORD_TOKEN_NAZIM=
DISCORD_CHANNEL_ALERTS=
DISCORD_CHANNEL_LOGS=
DISCORD_CHANNEL_ADMIN=
DISCORD_CHANNEL_SANDBOX=
